:root {
  --iui-size-3xs: 0.125rem;
  --iui-size-2xs: 0.25rem;
  --iui-size-xs: 0.5rem;
  --iui-size-s: 0.75rem;
  --iui-size-m: 1rem;
  --iui-size-l: 1.5rem;
  --iui-size-xl: 2rem;
  --iui-size-2xl: 4rem;
  --iui-size-3xl: 6rem;
  --iui-border-radius-1: 4px;
  --iui-border-radius-round: 9999px;
  --iui-font-sans: 'Noto Sans', 'Open Sans', system-ui, sans-serif;
  --iui-font-mono: 'Noto Sans Mono', ui-monospace, 'Segoe UI Mono', Consolas, 'Roboto Mono', monospace;
  --iui-font-size-0: 0.75rem;
  --iui-font-size-1: 0.875rem;
  --iui-font-size-2: 1rem;
  --iui-font-size-3: 1.125rem;
  --iui-font-size-4: 1.5rem;
  --iui-font-size-5: 2rem;
  --iui-font-weight-light: 300;
  --iui-font-weight-normal: 400;
  --iui-font-weight-semibold: 500;
  --iui-font-weight-bold: 700;
  --iui-shadow-color: hsla(200deg, 12%, 0%, 0.25);
  --iui-shadow-0: 0;
  --iui-shadow-1: 0 1px 5px var(--iui-shadow-color);
  --iui-shadow-2: 0 1px 10px var(--iui-shadow-color);
  --iui-shadow-3: 0 3px 14px var(--iui-shadow-color);
  --iui-shadow-4: 0 6px 30px var(--iui-shadow-color);
  --iui-shadow-5: 0 9px 46px var(--iui-shadow-color);
  --iui-color-background-skyblue: #b5e1f2;
  --iui-color-background-celery: #c3d57c;
  --iui-color-background-froly: #fbafad;
  --iui-color-background-steelblue: #9cbdd8;
  --iui-color-background-sunglow: #ffd166;
  --iui-color-background-seabuckthorn: #f9b371;
  --iui-color-background-montecarlo: #99d6d2;
  --iui-color-background-poloblue: #abc3de;
  --iui-color-background-bouquet: #cbb3c9;
  --iui-color-background-ash: #dedbd3;
  --iui-color-background-oak: #ceb5a1;
  --iui-color-foreground-accessory: white;
  --iui-color-background-primary: #008ae0;
  --iui-color-background-positive: #53a21a;
  --iui-color-background-warning: #f18d13;
  --iui-color-background-negative: #d10a0a;
  --iui-color-background-primary-hover: #006bad;
  --iui-color-background-positive-hover: #3d7613;
  --iui-color-background-1: white;
  --iui-color-background-2: #f9f9fb;
  --iui-color-background-3: #edeff2;
  --iui-color-background-4: #dde1e4;
  --iui-color-background-5: #c7ccd1;
  --iui-color-background-1-hover: #f2f2f2;
  --iui-color-background-subtle-primary: #e5f3fb;
  --iui-color-background-subtle-positive: #ecf4e6;
  --iui-color-background-subtle-warning: #fdf4e7;
  --iui-color-background-subtle-negative: #fae5e5;
  --iui-color-foreground-1: black;
  --iui-color-foreground-2: #333333;
  --iui-color-foreground-3: #666666;
  --iui-color-foreground-4: #999999;
  --iui-color-foreground-5: #cccccc;
  --iui-color-foreground-primary: #008ae0;
  --iui-color-foreground-positive: #53a21a;
  --iui-color-foreground-warning: #f18d13;
  --iui-color-foreground-negative: #d10a0a;
  --iui-color-foreground-primary-hover: #006bad;
  --iui-color-foreground-positive-hover: #3d7613;
  --iui-color-foreground-warning-hover: #c6720c;
  --iui-color-foreground-negative-hover: #a10808;
  --iui-opacity-1: 1;
  --iui-opacity-2: 0.8;
  --iui-opacity-3: 0.6;
  --iui-opacity-4: 0.4;
  --iui-opacity-5: 0.2;
  --iui-opacity-6: 0.1;
  --iui-color-background-transparent-hover: rgba(0, 0, 0, 0.1);
  --iui-color-background-disabled: #edeff2;
  --iui-color-background-border: #c7ccd1;
}

[data-iui-theme='light'] {
  --iui-color-background-1: white;
  --iui-color-background-2: #f9f9fb;
  --iui-color-background-3: #edeff2;
  --iui-color-background-4: #dde1e4;
  --iui-color-background-5: #c7ccd1;
  --iui-color-background-1-hover: #f2f2f2;
  --iui-color-background-subtle-primary: #e5f3fb;
  --iui-color-background-subtle-positive: #ecf4e6;
  --iui-color-background-subtle-warning: #fdf4e7;
  --iui-color-background-subtle-negative: #fae5e5;
  --iui-color-foreground-1: black;
  --iui-color-foreground-2: #333333;
  --iui-color-foreground-3: #666666;
  --iui-color-foreground-4: #999999;
  --iui-color-foreground-5: #cccccc;
  --iui-color-foreground-primary: #008ae0;
  --iui-color-foreground-positive: #53a21a;
  --iui-color-foreground-warning: #f18d13;
  --iui-color-foreground-negative: #d10a0a;
  --iui-color-foreground-primary-hover: #006bad;
  --iui-color-foreground-positive-hover: #3d7613;
  --iui-color-foreground-warning-hover: #c6720c;
  --iui-color-foreground-negative-hover: #a10808;
  --iui-opacity-1: 1;
  --iui-opacity-2: 0.8;
  --iui-opacity-3: 0.6;
  --iui-opacity-4: 0.4;
  --iui-opacity-5: 0.2;
  --iui-opacity-6: 0.1;
  --iui-color-background-transparent-hover: rgba(0, 0, 0, 0.1);
  --iui-color-background-disabled: #edeff2;
  --iui-color-background-border: #c7ccd1;
}
[data-iui-theme='light'][data-iui-contrast='high'] {
  --iui-color-background-1: white;
  --iui-color-background-2: #f9fafb;
  --iui-color-background-3: #eef0f2;
  --iui-color-background-4: #dde2e4;
  --iui-color-background-5: #c6ced2;
  --iui-color-background-1-hover: #f2f2f2;
  --iui-color-background-subtle-primary: #e5f3fb;
  --iui-color-background-subtle-positive: #ecf4e6;
  --iui-color-background-subtle-warning: #fdf4e7;
  --iui-color-background-subtle-negative: #fae5e5;
  --iui-color-foreground-1: black;
  --iui-color-foreground-2: #242424;
  --iui-color-foreground-3: #474747;
  --iui-color-foreground-4: #545454;
  --iui-color-foreground-5: #b3b3b3;
  --iui-color-foreground-primary: #004e75;
  --iui-color-foreground-positive: #00521b;
  --iui-color-foreground-warning: #614900;
  --iui-color-foreground-negative: #8f0000;
  --iui-color-foreground-primary-hover: #006bad;
  --iui-color-foreground-positive-hover: #3d7613;
  --iui-color-foreground-warning-hover: #c6720c;
  --iui-color-foreground-negative-hover: #a10808;
  --iui-opacity-1: 1;
  --iui-opacity-2: 0.86;
  --iui-opacity-3: 0.72;
  --iui-opacity-4: 0.67;
  --iui-opacity-5: 0.3;
  --iui-opacity-6: 0.06;
  --iui-color-background-transparent-hover: rgba(0, 0, 0, 0.06);
  --iui-color-background-disabled: #eef0f2;
  --iui-color-background-border: rgba(0, 0, 0, 0.72);
}

[data-iui-theme='dark'] {
  --iui-color-background-1: #5a6872;
  --iui-color-background-2: #4f5c64;
  --iui-color-background-3: #455159;
  --iui-color-background-4: #374349;
  --iui-color-background-5: #2e383d;
  --iui-color-background-1-hover: #657681;
  --iui-color-background-subtle-primary: #607380;
  --iui-color-background-subtle-positive: #647478;
  --iui-color-background-subtle-warning: #697277;
  --iui-color-background-subtle-negative: #686f78;
  --iui-color-foreground-1: white;
  --iui-color-foreground-2: #e6e8ea;
  --iui-color-foreground-3: #c5cace;
  --iui-color-foreground-4: #a4acb2;
  --iui-color-foreground-5: #848e94;
  --iui-color-foreground-primary: #a3d6f5;
  --iui-color-foreground-positive: #c2e0ae;
  --iui-color-foreground-warning: #f9d6a9;
  --iui-color-foreground-negative: #efa9a9;
  --iui-color-foreground-primary-hover: #d1eafa;
  --iui-color-foreground-positive-hover: #deeed3;
  --iui-color-foreground-warning-hover: #fcedd9;
  --iui-color-foreground-negative-hover: #f7d4d4;
  --iui-opacity-1: 1;
  --iui-opacity-2: 0.85;
  --iui-opacity-3: 0.65;
  --iui-opacity-4: 0.45;
  --iui-opacity-5: 0.25;
  --iui-opacity-6: 0.1;
  --iui-color-background-transparent-hover: rgba(255, 255, 255, 0.1);
  --iui-color-background-disabled: #455159;
  --iui-color-background-border: #2e383d;
}
[data-iui-theme='dark'][data-iui-contrast='high'] {
  --iui-color-background-1: #2d3539;
  --iui-color-background-2: #22282b;
  --iui-color-background-3: #161b1d;
  --iui-color-background-4: #384247;
  --iui-color-background-5: #435056;
  --iui-color-background-1-hover: #f2f2f2;
  --iui-color-background-subtle-primary: #607380;
  --iui-color-background-subtle-positive: #647478;
  --iui-color-background-subtle-warning: #697277;
  --iui-color-background-subtle-negative: #686f78;
  --iui-color-foreground-1: white;
  --iui-color-foreground-2: #f2f2f2;
  --iui-color-foreground-3: #e4e6e7;
  --iui-color-foreground-4: #cdcfd0;
  --iui-color-foreground-5: #747a7b;
  --iui-color-foreground-primary: #94dbff;
  --iui-color-foreground-positive: #70ffa0;
  --iui-color-foreground-warning: #ffdf80;
  --iui-color-foreground-negative: #ffc2c2;
  --iui-color-foreground-primary-hover: #006bad;
  --iui-color-foreground-positive-hover: #3d7613;
  --iui-color-foreground-warning-hover: #c6720c;
  --iui-color-foreground-negative-hover: #a10808;
  --iui-opacity-1: 1;
  --iui-opacity-2: 0.94;
  --iui-opacity-3: 0.88;
  --iui-opacity-4: 0.76;
  --iui-opacity-5: 0.34;
  --iui-opacity-6: 0.07;
  --iui-color-background-transparent-hover: rgba(255, 255, 255, 0.07);
  --iui-color-background-disabled: #384247;
  --iui-color-background-border: #cdcfd0;
}

[data-iui-contrast='high'] {
  --iui-color-foreground-accessory: white;
  --iui-color-background-primary: #005885;
  --iui-color-background-positive: #006120;
  --iui-color-background-warning: #705400;
  --iui-color-background-negative: #9e0000;
  --iui-color-background-primary-hover: #006bad;
  --iui-color-background-positive-hover: #3d7613;
}

/*# sourceMappingURL=index.css.map */
